In [1]:
import pandas
data1 = pandas.read_csv('1.csv')
data2 = pandas.read_csv('2.csv')

In [2]:
data1.head()

   timedelta  key
0         95  222
1        135  222
2        103  222
3         79  222
4         63  222

In [3]:
data2.head()

   up  timedelta  down
0  84     640221    70
1  86     640383    72
2  16     640319    32
3  89       -743    84
4  70       -855    83