In [5]:
salary = { 
        'Январь': 20000, 
        'Март': 18500, 
        'Апрель': 22500, 
        'Май': 21000, 
        'Июнь': 22000 
} 

salary['Июль'] = 22500 
salary['Август'] = 24088

In [6]:
def month(d): 
    mon = list(d.keys()) 
    return mon

In [7]:
print(month(salary))

['Январь', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август']

In [8]:
def average(d): 
    values = 0 
    j = 0 
    for i in d: 
        j += 1 
        values += d[i] 
        values = values/j 
    return values

In [10]:
print(round(average(salary)))

4123

In [12]:
teremok = { 
        'Январь': 30000, 
        'Март': 35500, 
        'Апрель': 32500, 
        'Май': 37000, 
        'Июнь': 40000, 
        'Июль': 39000, 
        'Август': 38500 
}

In [13]:
print(round(average(teremok)))

6689

In [14]:
teremok_mean_salary = average(teremok) 
zi_mean_salary = average(salary) 

if teremok_mean_salary > zi_mean_salary: 
    profit = round(teremok_mean_salary/zi_mean_salary, 2)
    print('Зарплата в теремке больше в ', profit)
elif teremok_mean_salary == zi_mean_salary: 
    print('Зарплаты равны')
else: 
    profit = zi_mean_salary/teremok_mean_salary 
    print('Зарплата специалиста по ЗИ больше в ', profit)

Зарплата в теремке больше в  1.62