In [36]:
#импортируем библеотеку pandas и загружаем данные из файла titanic.csv
import pandas
data = pandas.read_csv('titanic.csv')
#структура данных
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
# количество пассажиров в 1 классе
amt_pass_3 = data['Pclass'].value_counts()[3]
amt_pass_1 = data['Pclass'].value_counts()[1]
print(amt_pass_1)

216

In [95]:
# сравнение пассажиров 1 и 3 классов
if amt_pass_1 < amt_pass_3:
    print(amt_pass_1/amt_pass_3)
elif amt_pass_1 < amt_pass_3:
    print('Поровну')
else:
    print(amt_pass_3/amt_pass_1)

0.439918533605

In [101]:
# % выжевших пассажиров
alive = data['Survived'].value_counts()[1]
died = data['Survived'].value_counts()[0]
p_all = data['PassengerId'].count()
p_sur = round(100 * alive/p_all, 2)
print(p_sur, '%')

38.38 %

In [103]:
# men VS women
men = data['Sex'].value_counts()['male']
women = data['Sex'].value_counts()['female']
if  men > women:
    print('Мужчин больше, чем женщин')
else:
    print('Женщин больше, чем мужчин')

Мужчин больше, чем женщин

In [102]:
# средний возраст всех пассажиров
mean_age_all = round(data['Age'].mean(), 2)
print(mean_age_all)

29.7

In [35]:
# медианный возраст всех пассажиров
median_age_all = data['Age'].median()
print(median_age_all)

28.0

In [87]:
# средний и медианный возраст выжавших пассажиров
sur_data = data[data['Survived'] == 1]
sur_data[['Survived','Age']]

mean_age_sur = round(sur_data['Age'].mean(), 2)
median_age_sur = sur_data['Age'].median()

print('Средний возраст выживших пассажиров:', mean_age_sur)
print('Медианный возраст выживших пассажиров:', median_age_sur)

#сравнение со среднем возрастом всех пассажиров тоже самое с медианой
if mean_age_all > mean_age_sur:
    comp = round(mean_age_all/mean_age_sur, 2)
    print('Средний возраст всех пассажиров больше, чем средний возраст виживиших в ', comp)
elif mean_age_all == mean_age_sur:
    print('Средний возраст всех пассажиров равен среднему возрасту выживших')
else:
    comp = round(mean_age_sur/mean_age_all, 2)
    print('Средний возраст всех пассажиров меньше, чем средний возраст виживиших в ', comp)

#
if median_age_all > median_age_sur:
    comp = round(median_age_all/median_age_sur, 2)
    print('Медианный возраст всех пассажиров больше, чем медианный возраст виживиших в ', comp)
elif median_age_all == median_age_sur:
    print('Медианный возраст всех пассажиров равен медианному возрасту выживших')
else:
    comp = round(median_age_sur/median_age_all, 2)
    print('Медианный возраст всех пассажиров меньше, чем медианный возраст виживиших в ', comp)

Средний возраст выживших пассажиров: 28.34
Медианный возраст выживших пассажиров: 28.0
Средний возраст всех пассажиров больше, чем средний возраст виживиших в  1.05
Медианный возраст всех пассажиров равен медианному возрасту выживших

In [86]:
#корреляция
correlation_data = data[['SibSp','Parch']]

correlation_data.corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [151]:
# Удобней написать функцию, которая из входной строки выбирает имя:
def get_name(s):
    if s.find("(") != -1:
        index_start = s.find('(')
        ss = s[index_start + 1:]
        if ss.find(' ') != -1:
            index_end = ss.find(' ')
            ss = ss[:index_end]
    else:    
        index_start = s.find('.')
        ss = s[index_start + 2:]
        if ss.find(' ') != -1:
            index_end = ss.find(' ')
            ss = ss[:index_end]
    
    name = ss.replace('"', '')
    name = name.replace(')', '')
    name = name.strip()
    return name

women_data = data[data['Sex'] == 'female']
#print ([women_data])

# Создадим список, в который будем складывать полученные имена.
names = [] 
for full_name in women_data['Name']: 
    name = get_name(full_name)
    names.append(name)

names.sort()
#print(names)

i = 0
num_max = 0
for name in names:
    num = names.count(names[i])
    if num > num_max:
        num_max = num
        names_max = names[i]
    i += 1
    #print(names[i], '-', num)
    

print(names_max, num_max)

Anna 15